
@{
    Layout = "~/Views/Shared/admin_layout.cshtml";
}

          <!-- Start: MAIN CONTENT -->
    <div class="content">
      <div class="container">
        <div class="page-header">
          <h1>Update/Delete</h1>
           
        </div>
          
        <div class="row">
  <h4 class="widget-header"> List Of Items</h4>
       <div class="widget-body" style="width:auto;">
                <table class="table table-striped">
                    
                    <tr>
<th>Item Id</th>
<th>Item Name</th>
<th>Price</th>
<th>Category</th>
<th>Edit</th>
<th>Delete</th>

</tr>
@foreach(var item in Model){

    <tr>
        <td> @item.Id </td>
        <td> @item.item_name </td>
        <td> @item.price </td>
        <td> @item.Item_category </td>
        <td> @Html.ActionLink("Edit", "Edit", new { id=item.Id }) </td>
        <td> @Html.ActionLink("Delete", "Delete", new { id=item.Id })</td>


    </tr>
    


}


    


                </table>
                
            
           
         </div>
        </div>
      </div>
    </div>
